.carrossel{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrossel__container{
    width: 100%; 
    justify-content: center;
    align-items: center;
    }  

.swiper{
        width: 70%;
    }

.swiper-slide img{
    border-radius: 0.3em;
    /*height: 50vh;*/
    margin: 6em auto;
    }


@media screen and (min-width: 1024px){

    .swiper{
        width: 70%;
    }

}

@media screen and (min-width: 1728px) {
 
    .swiper{
        width: 70%;
    }

}